# Dictionary

1. Dictionary is mutable data type.
2. Ordered
3. Indexing is done with the help of Keys

###  Create Dictionary

In [30]:
mydict=dict()
mydict

{}

In [31]:
type(mydict)

dict

In [32]:
mydict = {1:"one" , 2:"two" , 3:"Three"}
mydict

{1: 'one', 2: 'two', 3: 'Three'}

In [33]:
mydict=dict({1:"one" , 2:"two" , 3:"Three"})
mydict

{1: 'one', 2: 'two', 3: 'Three'}

In [34]:
# dictionary with character keys
dict1={"A" : "one" , "B" : "two" , "C" : "three"}
dict1

{'A': 'one', 'B': 'two', 'C': 'three'}

In [35]:
dict1.keys()   # return all the keys

dict_keys(['A', 'B', 'C'])

In [36]:
dict1.values()        # return all the values

dict_values(['one', 'two', 'three'])

In [37]:
dict1.items()    # return each keys-value pair within a dictionary

dict_items([('A', 'one'), ('B', 'two'), ('C', 'three')])

In [38]:
mydict={1:"one",2:"two",3:"three","A":["Data","john","maria"]} # dictionary with one values as a lit

In [39]:
mydict[1]

'one'

In [40]:
mydict["A"][1]

'john'

In [41]:
d={0:{"one":1,"two":2,"three":3,"four":4},1:{"city":"bangalore","area":"kudlu"},"three":{"city":"mumbai","area":"dharvi"}}

In [42]:
d[1]["area"]

'kudlu'

In [43]:
v=[0,1,2,3,[8,{5:[67,89,90,{"area":"kudlu","city":"bangalore"}]}]]

In [44]:
v[4][1][5][3]["city"]

'bangalore'

## Adding , Removing and Change Items

In [45]:
mydict1 = {"Name":"Data","ID":12345,"DOB":1991,"Address":"Hosur"}
mydict1

{'Name': 'Data', 'ID': 12345, 'DOB': 1991, 'Address': 'Hosur'}

In [46]:
# changing items-->

mydict1["DOB"] = 2000   
mydict1["Address"] = "Punjab"

In [47]:
mydict1

{'Name': 'Data', 'ID': 12345, 'DOB': 2000, 'Address': 'Punjab'}

In [48]:
 # Adding items -->

mydict1["job"] = "Data Analyst"       
mydict1

{'Name': 'Data',
 'ID': 12345,
 'DOB': 2000,
 'Address': 'Punjab',
 'job': 'Data Analyst'}

In [49]:
# Removing items-->

mydict1.pop("job")

'Data Analyst'

In [50]:
mydict1

{'Name': 'Data', 'ID': 12345, 'DOB': 2000, 'Address': 'Punjab'}

In [51]:
mydict1.fromkeys("Name","Data")

{'N': 'Data', 'a': 'Data', 'm': 'Data', 'e': 'Data'}

In [52]:
# A random item is removed -->

mydict1.popitem()

('Address', 'Punjab')

In [55]:
# Removing item using del method -->

del[mydict1["Name"]]

In [56]:
#  Delete the entire dictionary -->

del mydict1

In [60]:
# Delete all the items from the dictionary -->

d={1:"a",2:"b",3:"c"}
d.clear()