# Function :-

### A function is a block of organized code written to carry out a specified task.

Function help break our programinto smaller nd modular chunks for better readability. Information can be passed into function as arguments.

Parameters are specified after the function name inside the parenthesis.

In [5]:
#  Definition of function-->

# Functions with no arguments and with return value :-  

def name_of_function():
    print("hello")

In [6]:
#  Calling the function -->

name_of_function()

hello

In [19]:
# Function with argument and return a value :-

def area_of_circle(r):
    area=3.14*r*r
    print(area)

In [20]:
area_of_circle(12)

452.15999999999997

In [9]:
# Function with no argument and no return value :-

def no_return():
    pass

In [10]:
no_return()

In [22]:
#  Function takes no parameters but giving the output :-


def area_of_circle():
    area=3.14*r*r
    print(area)
r= float(input("Enter the radius of the circle:"))

area_of_circle()

Enter the radius of the circle:12
452.15999999999997

In [26]:
def rectangle(l,b):
    return l*b

rectangle(89,9)

801

### Drawback of print in functions :-

In [27]:
def rectangle(l,b):
    print(l*b)

a=rectangle(89,9)

801

In [29]:
print(a)   # it should print the value 801 but it isn't

None

###  To overcome this we use "return" here :-

In [33]:
def rectangle(l,b):
    return l*b

area=rectangle(89,9)

In [34]:
print(area)

801

In [41]:
def odd_even():
    num=float(input("Enter the number to check whether it is even or odd:"))
    if num%2 ==0:
        print(num," : is even")
    else:
        print(num," : is odd")
odd_even()

Enter the number to check whether it is even or odd:6.6
6.6  : is odd

In [46]:
def details_of_emp(Id,Name,Designation):
    print("Employee's id:",Id)
    print("Name of the employee:",Name)
    print("Designation:",Designation)
details_of_emp(101,"abc","adc")

Employee's id: 101
Name of the employee: abc
Designation: adc

### Lambda, Filter, Map :-

### Lambda Syntax:- lambda  arguments : expression

1) A lambda function is an anonymous function (function without a name)
2) Lambda functions can have any number of arguments but only one expression. The expression is evaluated and returned.
3) We use lambda functions when we require a nameless function for short period of time.

In [47]:
def add(a):
    return a+10
add(4)

14

In [48]:
add=lambda a : a+10
add(3)

13

In [53]:
add = lambda a,b : a+b

In [54]:
add(2,3)

5

In [64]:
a=(lambda n : n%2 == 0)
a(5)

False

In [61]:
res = (lambda *args : sum(args))             # takes multiple arguments but only one expression should be there
res(12,34,12)

58

# Filter Syntax  :-  filter(function,iterable)

It is used to filter the iterables/sequence as per the conditions

In [63]:
seq1=[1,2,3,4,5,6]
list(filter(lambda n : n%2 == 0 ,seq1))

[2, 4, 6]

In [121]:
def odd(n):
    if n%2==0:
        print(n,"yes")
#     else:
#         print("no")

In [134]:
odd_num= list(filter(odd,seq1))

2 yes
4 yes
6 yes

# Map Function Syntax :- map(function,iterable)

In [135]:
def double(n):
    return n**2
doubles = list(map(double,seq1))

In [136]:
doubles

[1, 4, 9, 16, 25, 36]

In [137]:
def double(n):
    return n**2
doubles = list(map(double,odd_num))
doubles

[]