# While Loop :-

 In python, whileloop is used to execute a block of statements repeatedly until a given condition is satisfied.And when the condition
becomes false,the line immediately after the loop in program is executed.

In [4]:
# Simple while loop causing infinite loop -->

i = 1
while i<6:
    print(i)
    i+=1
# Counter increment is important as it will cause infinite loop

1
2
3
4
5

### While loop with break. It is used to stop loop even if while condition is true :-

In [7]:
#  In between break the loop -->

i = 1
while i < 6:
    print(i)
    if i == 3:
        break       # the execution of the program stops here only when ""if"" condition beacomes true.....
    i+=1

1
2
3

### While loop with continue statement :-

In [18]:
# skipping certain condition -->

i=0
while i<6:
    i+=1
    if i == 4:
        continue
    
    print(i)

1
2
3
5
6

### While with else :-

In [14]:
i=1
while i<6:
    print(i)
    i+=1
else:
    print("While loop condition is false")

1
2
3
4
5
While loop condition is false

In [23]:
count=0
while count<3:
    print(count,"data science")
    count=count+1

0 data science
1 data science
2 data science

In [28]:
count=1
while count<5:
    print(count,"Hi")
    count=count+1

1 Hi
2 Hi
3 Hi
4 Hi

# For Loop :-

 Python for loops are used to loop through an iterable object(sequence types)and perform the same acion for each entry.

In [29]:
l=[1,2,3,4,5,6,7,8]
for i in l:
    print(i)

1
2
3
4
5
6
7
8

In [35]:
fruits=["apple","banana","pomegranate","orange"]
for i in fruits:
    print(i)

apple
banana
pomegranate
orange

In [36]:
s="This is data science session"
for i in s:
    print(i)

T
h
i
s

i
s

d
a
t
a

s
c
i
e
n
c
e

s
e
s
s
i
o
n

In [42]:
# using break -->

for i in fruits:
    print(i)
    if i == "banana":
        break

apple
banana

In [43]:
# using continue ->

for i in fruits:
    if i == "banana":
        continue
    print(i)

apple
pomegranate
orange

In [49]:
#  Range function --> range is a generator function which yields numbers with in a given range.

for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [50]:
for i in range(0,10,3):
    print(i)

0
3
6
9

# Nested loops :-

In [52]:
seq1=['Maths',"Science","Geo","English","Stats"]
seq2=[98,67,87,98,89]

In [63]:
for i in seq1:       # outer loop
    for j in seq2:   # inner loop
        print(i,j)

Maths 98
Maths 67
Maths 87
Maths 98
Maths 89
Science 98
Science 67
Science 87
Science 98
Science 89
Geo 98
Geo 67
Geo 87
Geo 98
Geo 89
English 98
English 67
English 87
English 98
English 89
Stats 98
Stats 67
Stats 87
Stats 98
Stats 89

In [65]:
a=["Apple","Banana","Orange"]
b=["Red","Yellow","Greenn"]
for i in a:
    for c in b:
        print(i,c)

Apple Red
Apple Yellow
Apple Greenn
Banana Red
Banana Yellow
Banana Greenn
Orange Red
Orange Yellow
Orange Greenn

In [68]:
l=[1,2,3,4,5,6,7,8,9]
for c in l:
    if c%2 == 0:
        print(c,"Even")
    else:
        print(c,"Odd")

1 Odd
2 Even
3 Odd
4 Even
5 Odd
6 Even
7 Odd
8 Even
9 Odd

In [69]:
# Table of 12 -->
for i in range(1,11):
    print(i*12)

12
24
36
48
60
72
84
96
108
120

In [74]:
city=["banagalore","mumbai","punjab"]
for i in range(len(city)):
    print("current city:",city[i])

current city: banagalore
current city: mumbai
current city: punjab