# Sets

1. Unordered and unindexed collection of items.
2. Set elemens are unique,Duplicate elements are not allowed.
3. Set elements are immutable.
4. Set itself is mutable. We can add or rmove items from it.

### Set Creation

In [7]:
my_first_set={}       # cannot created with curly braces, but indicates with {} braces
my_first_set

{}

In [8]:
type(my_first_set)

dict

In [9]:
set1=set()
set1

set()

In [11]:
print(type(set1))

<class 'set'>

In [20]:
set2={1,2,3,4,5}       # set of numbers.

In [15]:
len(set2)

5

In [16]:
myset={11,2,3,4,5,6,7,11,11,11}

In [19]:
myset  # remove duplicacy

{2, 3, 4, 5, 6, 7, 11}

In [22]:
myset1={1.2,3.4,5.66}
myset1

{1.2, 3.4, 5.66}

In [24]:
myset2={"Data","Is","Vital"}
myset2

{'Data', 'Is', 'Vital'}

In [32]:
#  Mixed datatypes/Nesting is also possible
mix_set={10,20,"HELLO",(40,50,67)}
mix_set

{(40, 50, 67), 10, 20, 'HELLO'}

### Set Membership

In [33]:
"Data" in myset2

True

In [35]:
if "data" in myset2:
    print("yes")
else:
    print("no")

no

In [37]:
(40,50,67) in mix_set

True

### Add and Remove Items

In [38]:
myset={1,2,3,4,5}

In [42]:
myset.add("SIX")

In [46]:
myset.add("TEN")
myset

{1, 2, 3, 4, 5, 'Eight', 'SIX', 'TEN'}

In [47]:
myset.add("Eight")
myset

{1, 2, 3, 4, 5, 'Eight', 'SIX', 'TEN'}

In [62]:
myset.add(True)
myset

{1, 10.5, 2, 3, 4, 5, 'Eight', False, 'SIX', 'TEN', 'True'}

In [58]:
myset.add(10.5)
myset

{1, 10.5, 2, 3, 4, 5, 'Eight', False, 'SIX', 'TEN'}

In [59]:
set1={1,2,3,4,5}
set1.add(2.5)
set1

{1, 2, 2.5, 3, 4, 5}

In [60]:
set1.add(10.5)
set1

{1, 2, 2.5, 3, 4, 5, 10.5}

In [63]:
set2={2,3,4,5}
set2.add(True)

In [64]:
set2

{True, 2, 3, 4, 5}

### Update function

In [65]:
set2.update([6,7,8])

In [66]:
set2

{True, 2, 3, 4, 5, 6, 7, 8}

## Remove

In [67]:
set2.remove()
set2

{True, 2, 3, 5, 6, 7, 8}

In [69]:
# Discard--> remove item 
set2.discard(5)
set2

{True, 2, 3, 6, 7, 8}

In [71]:
#  Clear
set2.clear()
set2

set()

In [72]:
# DELETE
del set2

In [73]:
set2

NameError: name 'set2' is not defined

## Set Operation

### Union--

In [74]:
A={1,2,3,4,5}
B={4,5,6,7,8}
C={8,9,10}

In [78]:
A | B   # union using pipe operator---all elements fromboth the sets ---no duplicates

{1, 2, 3, 4, 5, 6, 7, 8}

In [79]:
A.union(B) # using union function

{1, 2, 3, 4, 5, 6, 7, 8}

In [81]:
A.union(B,C) # union of  A, B, and C

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### INtersection

In [83]:
A.intersection(B)

{4, 5}

In [84]:
B.intersection(A)

{4, 5}

In [85]:
A.intersection_update(B)

In [86]:
A

{4, 5}

### Difference

In [92]:
A.difference(C)

{4, 5}

In [89]:
B.difference(C)

{4, 5, 6, 7}

In [93]:
B.difference_update(C)

In [94]:
B

{4, 5, 6, 7}