In [1]:
# Libraries imported--->

import sys
import keyword
import operator
from datetime import datetime
import os

# Keywords
* keywords are reserved words in he python and can't be used as identifiers

In [2]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
len(keyword.kwlist)

35

# Identifiers


*An identifier is the name given to entities like fnctions,variables etc.It helps in differentiating one entity from other
*Identifiers can be a combination of letters in lowercase(a to z) or uppercase and only special character is allowed('_')


Conditions :-
 1. Identifiers can not be initiate with digit.
 2. Cannot use special characters except ('_').
 3. keywords cannot be used as identifier.
 4. Case sensitive (pascalCase,CamelCase)

In [4]:
vaer@123="abc"
vaer

SyntaxError: cannot assign to operator (<ipython-input-4-662b60099f04>, line 1)

# Comments

In [ ]:
# single line comment
v=12

In [ ]:
# Multi 
# line 
# comment
val1=10

In [5]:
"""
Multi line comments in python 
Python use "single" and "double" quotes as well.
"""
v=11

# Statements

In [6]:
# Single line statement-->
p2=[1,2,3,4]
p2

[1, 2, 3, 4]

In [7]:
# Multi line statements -->
p1=20+30\
+40+50+\
+70+80
p1

290

# Indentation
  
    * Indentation refers to the spaces at the beginning of a code line. To indicate scope of block of code.

# Docstrings
 
 1. Docstrings provide a convenient way of associating documentation with functions,classes,methods or modules.
 2. They appear right after the definition of a function,method,class, or module.

In [8]:
def square(n):
    " This will provide us the square of number"
    return n**2
square(8)

64

In [9]:
#  We can access the documentation of above function----->
print(square.__doc__)

 This will provide us the square of number

In [10]:
help(square)   # 2nd method to access the documentation of a function.

Help on function square in module __main__:

square(n)
    This will provide us the square of number

# Variables
   
   *A variable is a reserved memory location to store the values.

In [11]:
abc=44
abc

44

In [12]:
'''
id() function returns the "identity" of the object.
The identity of an object - Is an ineteger
  - Guaranteed to be unique.
  - Constant for this object during its lifetime.
'''
id(abc)

140712183082128

In [13]:
type(abc) # to know the datatype of an object

int

In [14]:
hex(id(abc))            # Memory address of the variable

'0x7ffa1bb02c90'

In [15]:
p=20      #creates an integer object with value 20 
q=20      # creates new reference q which will point to  value 20.p and q will be pointing.  
r=q       # variable r will also point to the same location where p and q are pointin p

In [16]:
type(p),hex(id(p)) # variable p is pointing to memory location '0x7ffa1bd22c90'

(int, '0x7ffa1bb02990')

In [17]:
q, type(1), hex(id(q))

(20, int, '0x7ffa1bb02990')

In [18]:
type(r),hex(id(r))           # in python the referencing is done by values

(int, '0x7ffa1bb02990')

In [19]:
intvar=10
floatvar=10.2
strvar="Python"
print(intvar,floatvar,strvar)

10 10.2 Python

# Multiple Assignments

In [20]:
intvar,floatvar,strvar=10,10.2,"Python"
print(intvar,floatvar,strvar)

10 10.2 Python

In [21]:
p1=p2=p3=p4=44 # All variables pointing to same value
print(p1,p2,p3,p4)

44 44 44 44

# Data Types

### Numeric

In [22]:
val1=10
print(val1)
print(type(val1))
print(sys.getsizeof(val1))   # size of integer object in bytes
print(val1,"is Ineger?", isinstance(val1, int))# val1 is an instance of int datatype

10
<class 'int'>
28
10 is Ineger? True

### Float

In [23]:
val1=2.5
print(val1)
print(type(val1))
print(sys.getsizeof(val1))   # size of float object in bytes
print(val1,"is float?", isinstance(val1, float))# val1 is an instance of float datatype

2.5
<class 'float'>
24
2.5 is float? True

### Complex

In [24]:
val1=25+7j
print(val1)
print(type(val1))
print(sys.getsizeof(val1))   # size of complex object in bytes
print(val1,"is float?", isinstance(val1, float))# val1 is an instance of complex datatype

(25+7j)
<class 'complex'>
32
(25+7j) is float? False

# Boolean
  
   * Boolean datatype can have only two possible values true or false.

In [25]:
bool1= True
bool2=False
print(type(bool1))
print(isinstance(bool1,bool))
print(bool(0))         # Anything apart from 0 is True
print(bool(1))

<class 'bool'>
True
False
True

#  String:-
 
      String Creation

In [26]:
str1="woohoo "
str1*5

'woohoo woohoo woohoo woohoo woohoo '

#  String Indexing :-

In [27]:
len(str1)               # Number of elements present in string

7

In [28]:
str1[-3]

'o'

In [29]:
str1[-6:]

'oohoo '

In [30]:
str1[:-3]

'wooh'

In [31]:
str1[len(str1)-1]

' '

# Update and delete string
  
    *strings are immutable

In [32]:
str1="HELLO PYTHON"
str1[0:5]='HEYA'

TypeError: 'str' object does not support item assignment

In [ ]:
str1.replace('H',"y")

In [ ]:
str1       # see  str1  still not changed

In [ ]:
str="NLP WITH PYTHON AND JAVA"
str.partition("WITH")

In [ ]:
str2=" HELLO PYTHON "
str2.strip()

In [ ]:
str2.rstrip()

In [ ]:
str2.lstrip()

In [ ]:
s="****hello****python****"
s.strip("*")

In [ ]:
str2.split()           # splits work with every occurences and partiton does with one occurence only.

#   Combining strings and numbers using format method

In [ ]:
a=10
b=23
c=12
res="Value of a,b,c is {},{},{}"
print(res.format(a,b,c))

In [ ]:
print("Value of a is {}, and of b is {}, and of c is {}".format(a,b,c))

# Operators

  * Operators are special symbols in python which are used to perform operations on values/variables.

In [ ]:
# ADDITION OPERATOR
a=12
b=21
c=a+b
print("Addition of {} and {} is : {}".format(a,b,c))

In [ ]:
# CONCATENATE string using plus operator
x="Data"
y="Science"
x+" "+y

In [ ]:
# SUBTRACTION OPERATOR
c=a-b
print("Subtraction of {} and {} is : {}".format(a,b,c))

In [ ]:
# MULTIPLICATION OPERATOR
c=a*b
print("Multiplication of {} and {} is: \n{}".format(a,b,c))

In [ ]:
# DIVISION
c=a/b
print("Division of {} and {} is : {}".format(a,b,c))

In [ ]:
# FLOOR DIVISION - IF YOU DON'T WANT THE DECIMAL PART
a//b

In [ ]:
# MODULO OPERATOR - RETURNS THE REMAINDER
a%b

In [ ]:
# POWER
c=a**b
print("{} raised to the power {} will give :- {}\n".format(a,b,c))

# Comparison Operators

In [ ]:
x=20
y=30
print(x>y , x<y , x==y , x<=y , x>=y , x!=y)

In [ ]:
a="Data"
b="Science"
c="Data"
print(a==b ,a==c ,a!=c)

# Logical Operators

In [ ]:
x=True
y=False
print("Logical AND operation : ",x and y)  # true if both the conditions are true
print("Logical OR operation : ",x or y)    #rue if either of the condition is true
print("NOT operation : ",not y)           # true if operand is false.

# Bitwise Operators
 
  * Bitwise operators act on bits and performs bit by bit operation

In [ ]:
x=18 # binary form 10010
y=6   # binary form 00110

print("Bitwise AND operation - {}".format(x&y))          # AND OPERATOR
print("Bitwise OR operation - {}".format(x|y))         # OR OPERATOR

# If conditional statement

  * A Python if statement evaluates whether a condition is equal to true or false.
  * The statement will execute a block of code if a specified condition is equal to true. Otherwise False.

In [ ]:
x=2
if x==2:
    print("True")

In [ ]:
x=1
if x>0:
    print("i am in if block")
else:
    print("i am not")

In [ ]:
if (5<4):
    print("5 is big")
    print("i'm in if block")
    
print("i'm out of if block")

In [ ]:
x=5
if x>10:
    print("i'm in if block")
elif x<6:           # elif will help in checking more than 1 if condition
    print("i'm in elif part")
else:
    print("i'm in else block")

# INPUT FUNCTION 
  
   * BY DEFAULT IT IS OF STRING DATATYPE

In [ ]:
a= input("Enter your name:")
a

In [ ]:
b=int(input("Enter any number:"))
b

In [ ]:
b=int(input("Enter any number:"))
b

In [ ]:
#  if ...elif...else

x=int(input("Enter the number:"))

if x>0:
    print("x is positive")
elif x<0:
    print(" x is negative")
else:
    print("outside of block")

# Nested - if

In [ ]:
x=4
if x>=1:
    print("i'm in ist if")
    if x>2:
        print("i'm in 2nd if")
        if x==4:
            print("i'm in 3rd if")

In [ ]:
x=4
if x<=1:
    print("i'm in ist if")
    if x>2:
        print("i'm in 2nd if")
        if x==4:
            print("i'm in 3rd if")

In [ ]:
#  we didn't get any output because ist if isn't get executed.....

# Packages/Library...

* Packages are software which holds certain functionalities to work on. In python we have many

# Datetime package

In [ ]:
from datetime import date

my_date = date(2000,7,23)   # simple date creation   (yyyy-mm-dd)   in this format only
my_date

In [ ]:
# GETTING TODAYS DATE
today1=date.today()
today1

In [ ]:
# GET TODAY'S YEAR, MONTH AND DAY

print("current year:",today1.year)             # we can also use this today1 object to get its year,or month or day
print("current month:",today.month)
print("current day:",today.day)

In [ ]:
# Get date from datetime sub module 
from datetime import datetime as dt

date1=dt.now()
date1

In [ ]:
dt.date(date1)

In [ ]:
date1.day

In [ ]:
date1.hour

In [ ]:
date1.isoweekday()

In [ ]:
date1.month

In [ ]:
#  Time submodule
from datetime import time

In [ ]:
_time=time(22,13,56)
print("Entered time is:",_time)

In [ ]:
# Timedelta function demonstration

from datetime import date, timedelta          # timedelta gives us the date after days or years

In [ ]:
current_time=date.today()
print("Initial date",str(current_time))

In [ ]:
future_date_after_2_years=current_time + timedelta(days=730)
print(future_date_after_2_years)

In [17]:
#  Task to find my age after 5000 days in years
from datetime import date
dob=date(2000,7,23)

after_5000_days= (today1 + timedelta(days=5000)).year
print(date.today().year-after_5000_days,"Years")

8 Years

# Four major data structures in 
 
 1. List
 2. Tuple
 3. Dictionary
 4. Set

In [ ]:
#  Creating list 
l1=[]     # empty list
l1

In [ ]:
type(l1)

In [ ]:
#  another way to create list--
l2=list([1,2,3,4])  # list of integers

In [ ]:
l3=[12.3,4.5,6.7]  # list of  float

In [ ]:
l4=["abc","divya","lovi"] # list of string

In [ ]:
l5=["Data",20,[20,30,40],[50,60]]  # Nested list

In [ ]:
#  list can contain heterogeneous datatypes
list1=["Data",12,98.5]

# List indexing and slicing

In [ ]:
mylist= ["one","two","three","four","five","six"]
mylist[3]

In [ ]:
mylist[2:5]           # excluding the item at upper end

### Using stepsize in the list

In [ ]:
mylist[0:6:2]

In [ ]:
mylist.append([1,2,3])            # Add an item to the end of the list

In [ ]:
mylist

In [ ]:
mylist.extend([1,2,3])     # add multiple elements at a time at end of the list

In [ ]:
mylist.insert(4,100)           #  add item at index location

### Removing elements

In [ ]:
l1=[1,2,3,4,5,6]
l1.pop()      # by default remove the last element

In [ ]:
l1.pop(4)         # remove item at index 4

In [ ]:
l1.remove(1)      #   takes parameter (value)  and remove that element from the list

In [ ]:
l1

In [ ]:
l1.clear()      #clearing the elements from the list

In [ ]:
del l1   # permanently delete the list

### Join Lists

In [ ]:
list1=["One","two","three","four"]
list2=[1,2,3,4]
list3=list1+list2

In [ ]:
list3

In [ ]:
# Another way to join the list
list1.extend(list2)

In [ ]:
list1

# Membership

In [ ]:
"One" in list1           # checks if "One" exists in the list

### Reverse and Sort list

In [ ]:
list2.reverse()
list2

In [ ]:
list2[::-1]     # -1 is the stepsize

In [ ]:
l=[23,45,67,11,21]
l.sort()        # by default in ascending order

In [ ]:
l

In [ ]:
l.sort(reverse=True)    # in descending order

In [ ]:
l

# All/Any

### The all() method returns :
    *True:-if all elements in a list are true means 0 is not present
     False:- if any element in a list is false
    
    *The any()function returns true if any element in the list is True
    *if not, any() returns False

In [ ]:
l1=[1,2,3,4,0]
all(l1)

In [ ]:
l2=[2,1,4,5,True,False]
all(l2)              # return false as one value is false

In [ ]:
any(l2)    # will return True as we have items in the list with True value

#  List Comprehensions

# Tuples

In [ ]:
tup1=()  # empty list

In [ ]:
tup2=(10,20,30,40)  # tuple of itegers

In [ ]:
tup3=(10.22,45,35.5)        # tuple of float numbers

In [ ]:
tup4=("one","two","three") # tuple of strings

In [ ]:
tup5=("Data",25,(45,65),(15,12),[32,34,12],{"john","david"})   # Nested Tuple

In [ ]:
# Length of tuple
len(tup5)

###  Tuple Indexing and Slicing

In [ ]:
tup5[1]

In [ ]:
tup5[4][1]  # Nested indexing

In [ ]:
tup5[1:6:2]

### Remove and change items

In [ ]:
del tup5[0]  # tuples are immutable we can't make any changes in the tuple

In [ ]:
del tup3  # deleting the entire tuple is possible

In [ ]:
tup2[0] = 100            # can't do any modification

# Count

In [ ]:
tup2.count(3)          # count the occurrences of the given element

In [ ]:
tup2.index(30)    # gives the index of the particular element

### Tuple Membership

In [53]:
tuple1=(4,6,7,8,2,12,7,1)

In [54]:
6 in tuple1

True

In [55]:
if 3 in tuple1:
    print("yes")
else:
    print("No")

No

### Index Position

In [56]:
tuple1.index(2)

4

In [57]:
tuple1.index(7,3,8)

6

### Sorting

In [58]:
sorted(tuple1)

[1, 2, 4, 6, 7, 7, 8, 12]

In [59]:
sorted(tuple1,reverse=True)

[12, 8, 7, 7, 6, 4, 2, 1]